<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/5f90b05208.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Bryan Lim
              </h1>
              <p>I am a PhD student at the <a href="https://www.imperial.ac.uk/adaptive-intelligent-robotics/">Adaptive and Intelligent Robotics Lab</a>, part of the <a href="https://www.imperial.ac.uk/computing">Department of Computing</a> at <a href="https://www.imperial.ac.uk/">Imperial College London</a>, where I work on robotics and machine learning. My PhD advisor is <a href="https://www.imperial.ac.uk/people/a.cully">Dr. Antoine Cully</a>.
              </p>
              <p>
                Previously, I completed my MEng year at <a href="https://www.mit.edu">MIT</a>, where I worked with <a href="https://meche.mit.edu/people/faculty/ALBERTOR@MIT.EDU">Prof. Alberto Rodriguez</a> and <a href="https://meche.mit.edu/people/faculty/SANGBAE@MIT.EDU">Prof. Sangbae Kim</a>. I have an MEng in Mechanical Engineering from <a href="https://www.imperial.ac.uk/mechanical-engineering/">Imperial College London</a>. 
              </p>
              <p style="text-align:center">
                <a target="_blank" href=""><i class="fa fa-envelope"></i></a> &nbsp;/&nbsp;
		<a href="https://twitter.com/bryanlimwt"><i class="fa fa-twitter"></i></a> &nbsp;/&nbsp;
                <a href="https://github.com/limbryan"><i class="fa fa-git"></i></a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/bryan-lim-555065179/"><i class="fa fa-linkedin-square"></i></a> &nbsp;/&nbsp;
		<a href="https://scholar.google.com/citations?user=OpxLH5cAAAAJ&hl=en">Google Scholar</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/prof_pic_bryan.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research is mainly in machine learning and robotics. I am interested in ways to enable robots to be general-purpose. I believe this requires robots to learn effectively and adapt directly in the real-world. I believe <a href="https://www.oreilly.com/radar/open-endedness-the-last-grand-challenge-youve-never-heard-of/">open-ended learning</a> systems, where agents can continually adapt to constantly evolving environments have the potential to make this possible. To enable such systems, I study <a href="https://quality-diversity.github.io">Quality-Diversity</a> algorithms which encourages novelty and diversity as a key component in the process.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="{{post.image}}" alt="project image" style="width:100%; max-width:100%;" />
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
	      {% if post.venue2 %}
              <em>{{post.venue2}}</em>, {{ post.date | date: "%Y" }}
              <br>
	      {% endif %}
              {% if post.arxiv %}
              (<a href="{{post.arxiv}}">arXiv</a>)
              {% endif %}
              {% if post.video %}
              (<a href="{{post.video}}">video</a>)
              {% endif %}
              {% if post.code %}
              (<a href="{{post.code}}">code</a>)
              {% endif %}
              {% if post.poster %}
              (<a href="{{post.poster}}">poster</a>)
              {% endif %}
              {% if post.slides %}
              (<a href="{{post.slides}}">slides</a>)
              {% endif %}
	      {% if post.projectpage %}
              (<a href="{{post.projectpage}}">project page</a>)
              {% endif %}
	      {% if post.paper %}
              (<a href="{{post.paper}}">paper</a>)
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <ul>
                <li>C70050 Introduction to Machine Learning, TA</li>
                <li>C70028 Reinforcement Learning, TA</li>
                <li>C70067 Robot Learning and Control, TA</li>
              </ul>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
        </table>
	      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Misc</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'misc' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

	
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

